workflow.json
{
  "name": "Idea Evaluator MVP - Claude or Ollama",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "idea-evaluator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0e1f2a3b-4c5d-4e6f-8a9b-0c1d2e3f4a5b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1700,
        0
      ],
      "webhookId": "idea-evaluator"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst body = item.json.body ?? item.json;\nfor (const field of ['idea', 'region', 'language']) {\n  if (body[field] === undefined || body[field] === null || String(body[field]).trim() === '') {\n    throw new Error('Normalize Input: missing required field ' + field);\n  }\n}\nfunction normalizeSeoLanguage(value) {\n  const raw = String(value ?? '').trim().toLowerCase();\n  if (!raw) return '';\n  return raw.split(/[-_]/)[0];\n}\nfunction deriveSeoLanguage(region) {\n  const normalized = String(region ?? '').trim().toLowerCase();\n  const compact = normalized.replace(/\\s+/g, ' ');\n  const mapping = [\n    { matches: ['austria', 'österreich', 'osterreich'], code: 'de' },\n    { matches: ['germany', 'deutschland'], code: 'de' },\n    { matches: ['switzerland', 'schweiz', 'suisse'], code: 'de' },\n    { matches: ['france'], code: 'fr' },\n    { matches: ['usa', 'united states', 'united states of america', 'us'], code: 'en' },\n    { matches: ['uk', 'united kingdom', 'great britain', 'england'], code: 'en' },\n  ];\n  for (const entry of mapping) {\n    if (entry.matches.some((match) => compact === match || compact.includes(match))) return entry.code;\n  }\n  return 'en';\n}\nconst provider = String(body.provider ?? body.llm_provider ?? 'claude').trim().toLowerCase();\nif (!['claude', 'ollama'].includes(provider)) {\n  throw new Error('Normalize Input: provider must be claude or ollama');\n}\nconst modelRaw = body.model ?? body.llm_model ?? '';\nlet model = String(modelRaw).trim() || (provider === 'ollama' ? 'mistral:instruct' : 'claude-sonnet-4-6');\nconst modelAliases = { 'mistral:7b-instruct': 'mistral:instruct', 'mistral:latest': 'mistral:instruct' };\nmodel = modelAliases[model] ?? model;\nconst region = String(body.region).trim();\nconst seoLanguage = normalizeSeoLanguage(body.seo_language ?? body.seoLanguage) || deriveSeoLanguage(region);\nconst input = {\n  idea: String(body.idea).trim(),\n  region,\n  language: String(body.language).trim(),\n  seo_language: seoLanguage,\n  request_id: 'req_' + Date.now() + '_' + Math.random().toString(36).slice(2, 10),\n  received_at: new Date().toISOString(),\n};\nconst ollamaHost = String(body.ollama_host ?? body.ollamaHost ?? 'http://host.docker.internal:11434').trim().replace(/\\/$/, '');\nreturn [{ json: { input, llm: { provider, model, ollama_host: ollamaHost } } }];"
      },
      "id": "1f2a3b4c-5d6e-4f70-9a0b-1c2d3e4f5a6b",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2260,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst text = [data.input.idea, data.input.region, data.input.language].join(' ').toLowerCase();\n\nfunction hasAny(words) {\n  return words.some((word) => text.includes(word));\n}\n\nlet idea_type = 'mixed';\nconst signals = [];\n\nif (hasAny(['saas', 'software', 'app', 'platform', 'api', 'dashboard', 'automation', 'workflow', 'ai ', 'ki ', 'agent'])) {\n  signals.push('software');\n}\nif (hasAny(['marketplace', 'booking', 'directory', 'two-sided', 'two sided', 'aggregator'])) {\n  signals.push('marketplace');\n}\nif (hasAny(['course', 'newsletter', 'community', 'template', 'ebook', 'content', 'info product'])) {\n  signals.push('info_product');\n}\nif (hasAny(['local', 'service', 'delivery', 'party', 'event', 'repair', 'cleaning', 'installation', 'birthday', 'children', 'детск', 'праздник', 'доставка', 'услуг'])) {\n  signals.push('local_service');\n}\nif (hasAny(['product', 'ecommerce', 'shop', 'store', 'retail', 'balloon', 'helium', 'шар', 'гелиев'])) {\n  signals.push('physical_product');\n}\n\nif (signals.includes('marketplace')) idea_type = 'marketplace';\nelse if (signals.includes('software')) idea_type = 'software';\nelse if (signals.includes('physical_product') && signals.includes('local_service')) idea_type = 'mixed';\nelse if (signals.includes('physical_product')) idea_type = 'physical_product';\nelse if (signals.includes('local_service')) idea_type = 'local_service';\nelse if (signals.includes('info_product')) idea_type = 'info_product';\n\nconst idea_classification = {\n  idea_type,\n  detected_signals: [...new Set(signals)],\n  category_preservation_rule: 'Analyze the user idea in this category. Do not convert it into SaaS, AI assistant, startup tooling, or decision-support software unless the input explicitly says so.'\n};\n\nreturn [{ json: { ...data, idea_classification } }];"
      },
      "id": "21a4b5c6-d7e8-49f0-a1b2-c3d4e5f6a701",
      "name": "Classify Idea",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2040,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst analyzer_guardrails = {\n  analyzer_role: 'idea evaluation pipeline',\n  analyzed_object: 'the user business idea in input.idea',\n  separation_rule: 'The analyzer is NOT the product being analyzed. Do not reinterpret the user idea as this workflow, an idea-to-plan system, a decision-support engine, or an AI product strategist unless the input explicitly says so.',\n  category_preservation: [\n    'If the user idea is a physical product, keep it as a physical product.',\n    'If the user idea is a local service, keep it as a local service.',\n    'If the user idea is ecommerce, marketplace, offline business, or event service, keep that category.',\n    'Do not transform physical/offline ideas into SaaS, AI assistant, decision engine, or software product unless explicitly implied by the input.'\n  ],\n  output_focus: [\n    'packaging and repositioning of the user idea',\n    'product breakdown of the user idea',\n    'behavioral ICP for the user idea',\n    'lightweight validation of the user idea',\n    'go/no-go decision for the user idea',\n    'test-first action plan for the user idea'\n  ],\n  forbidden_drift: [\n    'analyzing the analyzer itself',\n    'generic digital transformation',\n    'generic AI for organizations',\n    'defaulting to founders, indie makers, or consultants when the idea is a consumer/local/physical business',\n    'inventing schools, hospitals, or government agencies unless explicitly implied'\n  ],\n  scoring_policy: {\n    default_stance: 'skeptical',\n    high_score_rule: 'Scores 8-10 require explicit evidence from the idea itself.',\n    confidence_cap_without_evidence: 0.75\n  }\n};\nreturn [{ json: { ...data, analyzer_guardrails } }];"
      },
      "id": "12f3a4b5-c6d7-48e9-9f01-2b3c4d5e6f70",
      "name": "Idea Framing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1820,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "provider-is-claude-seo-keywords",
              "leftValue": "={{ $json.llm.provider }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "31b5c6d7-e8f9-40a1-b2c3-d4e5f6a70123",
      "name": "Provider Switch SEO",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -940,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.llm.model, max_tokens: 700, temperature: 0.1, system: 'You generate same-language human Google queries. Return valid JSON only, no markdown, no prose outside JSON.', messages: [{ role: 'user', content: `You are simulating a real Google user.\n\nTask:\nGenerate search queries in EXACTLY ONE language.\n\nLanguage: ${$json.input.seo_language}\n\nCritical language rules:\n1. ALL queries MUST be in ${$json.input.seo_language}.\n2. If any query is not in this language, it is INVALID.\n3. Do NOT mix languages.\n4. Do NOT use English unless seo_language = \"en\".\n5. For seo_language = \"de\", every query must be natural German search language.\n6. If region = Austria, use Austrian/German city context such as Wien/Vienna only when useful. Never use Venice/Venedig for Austria.\n\nContext:\nIdea: ${$json.input.idea}\nRegion: ${$json.input.region}\n\nSearch intent:\n${JSON.stringify($json.search_intent, null, 2)}\n\nGenerate queries ONLY for this search_intent.\nDo not generate adjacent intents.\nThink like a real person with a problem.\n\nGenerate queries about:\n- confusion\n- what to do\n- who to call\n- who can solve it\n- what comes first\n- where to find the right specialist or service\n\nDo NOT:\n- describe the product\n- use AI terms\n- use technical words\n- use platform/software words unless the locked intent explicitly requires software buying\n- generate tutorials, coding, build, API, or developer queries\n- generate marketing phrases\n- generate English when seo_language is not \"en\"\n\nExamples for German repair/search intent:\n- welchen handwerker brauche ich renovierung\n- wer macht wand entfernen wohnung\n- elektriker oder installateur zuerst\n- wohnung renovieren reihenfolge\n- handwerker finden wien renovierung\n\nRules:\n1. Return exactly 8 keywords.\n2. Only real human Google queries.\n3. Only one language: ${$json.input.seo_language}.\n4. No mixed characters.\n5. Must sound like spoken search language, not a product description.\n6. Prefer short phrases of 3 to 7 words.\n7. Do not include duplicates.\n\nOutput strict JSON:\n{\n  \"keywords\": [\"...\"]\n}\n\nReturn valid JSON only, no markdown, no prose outside JSON.` }] } }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "32c6d7e8-f9a0-41b2-c3d4-e5f6a7012345",
      "name": "LLM SEO Keywords - Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.llm.ollama_host + '/api/chat' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.llm.model, stream: false, format: 'json', options: { temperature: 0.1, num_predict: 500, num_ctx: 4096 }, messages: [{ role: 'system', content: 'You generate same-language human Google queries. Return valid JSON only, no markdown, no prose outside JSON.' }, { role: 'user', content: `You are simulating a real Google user.\n\nTask:\nGenerate search queries in EXACTLY ONE language.\n\nLanguage: ${$json.input.seo_language}\n\nCritical language rules:\n1. ALL queries MUST be in ${$json.input.seo_language}.\n2. If any query is not in this language, it is INVALID.\n3. Do NOT mix languages.\n4. Do NOT use English unless seo_language = \"en\".\n5. For seo_language = \"de\", every query must be natural German search language.\n6. If region = Austria, use Austrian/German city context such as Wien/Vienna only when useful. Never use Venice/Venedig for Austria.\n\nContext:\nIdea: ${$json.input.idea}\nRegion: ${$json.input.region}\n\nSearch intent:\n${JSON.stringify($json.search_intent, null, 2)}\n\nGenerate queries ONLY for this search_intent.\nDo not generate adjacent intents.\nThink like a real person with a problem.\n\nGenerate queries about:\n- confusion\n- what to do\n- who to call\n- who can solve it\n- what comes first\n- where to find the right specialist or service\n\nDo NOT:\n- describe the product\n- use AI terms\n- use technical words\n- use platform/software words unless the locked intent explicitly requires software buying\n- generate tutorials, coding, build, API, or developer queries\n- generate marketing phrases\n- generate English when seo_language is not \"en\"\n\nExamples for German repair/search intent:\n- welchen handwerker brauche ich renovierung\n- wer macht wand entfernen wohnung\n- elektriker oder installateur zuerst\n- wohnung renovieren reihenfolge\n- handwerker finden wien renovierung\n\nRules:\n1. Return exactly 8 keywords.\n2. Only real human Google queries.\n3. Only one language: ${$json.input.seo_language}.\n4. No mixed characters.\n5. Must sound like spoken search language, not a product description.\n6. Prefer short phrases of 3 to 7 words.\n7. Do not include duplicates.\n\nOutput strict JSON:\n{\n  \"keywords\": [\"...\"]\n}\n\nReturn valid JSON only, no markdown, no prose outside JSON.` }] } }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "33d7e8f9-a0b1-42c3-d4e5-f6a701234567",
      "name": "LLM SEO Keywords - Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nfunction fail(message) { throw new Error('Validate SEO Keywords JSON: ' + message); }\nfunction textFromLlm(res) {\n  if (typeof res === 'string') return res;\n  if (typeof res?.content?.[0]?.text === 'string') return res.content[0].text;\n  if (typeof res?.message?.content === 'string') return res.message.content;\n  if (typeof res?.response === 'string') return res.response;\n  fail('missing LLM text response at Anthropic content[0].text or Ollama message.content');\n}\nfunction extractJsonText(text) {\n  const raw = String(text ?? '').trim();\n  const fenced = raw.match(/\\`\\`\\`(?:json)?\\s*([\\s\\S]*?)\\s*\\`\\`\\`/i);\n  const candidate = fenced ? fenced[1].trim() : raw;\n  const start = candidate.indexOf('{');\n  const end = candidate.lastIndexOf('}');\n  if (start === -1 || end === -1 || end <= start) return candidate;\n  return candidate.slice(start, end + 1);\n}\nlet parsed;\ntry {\n  parsed = JSON.parse(extractJsonText(textFromLlm(response)));\n} catch (error) {\n  fail('LLM returned invalid JSON: ' + error.message);\n}\nif (!parsed || typeof parsed !== 'object' || Array.isArray(parsed)) fail('root must be an object');\nif (!Array.isArray(parsed.keywords)) fail('keywords must be an array');\nconst rawKeywords = [...new Set(parsed.keywords.map((keyword) => String(keyword).trim()).filter(Boolean))].slice(0, 12);\nconst seoLanguage = String($('Normalize Input').first().json.input.seo_language ?? '').toLowerCase();\nconst forbiddenPatterns = [\n  /google\\s*ads/i,\n  /keyword/i,\n  /dataforseo/i,\n  /search\\s*volume/i,\n  /seo\\s*tool/i,\n  /api\\s*provider/i,\n  /marketing\\s*tool/i,\n  /\\b(ai|ki|künstliche\\s+intelligenz|artificial\\s+intelligence)\\b/i,\n  /\\b(startup|saas|platform|plattform|software|webapp)\\b/i,\n  /wie\\s+(erstelle|programmiere|entwickle|baue)\\s+(ich\\s+)?(einen\\s+|eine\\s+)?(telegram\\s+)?(bot|app|software|webapp)/i,\n  /(telegram\\s+bot|bot|app|software|webapp)\\s+(erstellen|programmieren|entwickeln|bauen)/i,\n  /\\b(api|github|source\\s*code|code\\s*beispiel|tutorial|entwickler|developer|programmieren|coding)\\b/i,\n  /\\bhow\\s+to\\s+(build|create|code|program|develop)\\b/i,\n  /\\b(build|create|code|program|develop)\\s+(a\\s+|an\\s+)?(telegram\\s+)?(bot|app|software|webapp)\\b/i,\n];\nfunction hasWrongScript(keyword) {\n  const text = String(keyword);\n  const hasCyrillic = /[\\u0400-\\u04FF]/u.test(text);\n  const hasCjk = /[\\u3400-\\u9FFF\\uF900-\\uFAFF]/u.test(text);\n  const hasArabic = /[\\u0600-\\u06FF]/u.test(text);\n  const hasGreek = /[\\u0370-\\u03FF]/u.test(text);\n  if (['de', 'en', 'fr'].includes(seoLanguage)) return hasCyrillic || hasCjk || hasArabic || hasGreek;\n  return false;\n}\nfunction hasMixedLatinAndCjk(keyword) {\n  return /[A-Za-zÀ-ÖØ-öø-ÿ]/u.test(keyword) && /[\\u3400-\\u9FFF\\uF900-\\uFAFF]/u.test(keyword);\n}\nfunction looksEnglish(keyword) {\n  const text = String(keyword).toLowerCase();\n  return /\\b(find|for|with|near|best|who|what|when|where|which|how|need|repair|renovation|contractor|electrician|plumber|wall|remove|removal|apartment|specialist|service|book|booking|pay|online)\\b/i.test(text);\n}\nfunction looksGerman(keyword) {\n  const text = String(keyword).toLowerCase();\n  return /\\b(welche|welcher|welchen|wer|was|wann|wo|wie|brauche|handwerker|renovierung|sanierung|wohnung|wand|entfernen|elektriker|installateur|zuerst|finden|wien|kosten|reihenfolge|termin|buchen|beratung|bezahlen|coach|konsultation)\\b/i.test(text) || /[äöüß]/i.test(text);\n}\nfunction looksFrench(keyword) {\n  const text = String(keyword).toLowerCase();\n  return /\\b(quel|quelle|qui|quoi|comment|où|trouver|réserver|payer|service|artisan|électricien|plombier|rénovation|appartement|conseil|consultation)\\b/i.test(text) || /[àâçéèêëîïôûùüÿœ]/i.test(text);\n}\nfunction hasWrongLanguage(keyword) {\n  if (seoLanguage === 'de') return looksEnglish(keyword) || looksFrench(keyword);\n  if (seoLanguage === 'fr') return looksEnglish(keyword) || looksGerman(keyword);\n  if (seoLanguage === 'en') return looksGerman(keyword) || looksFrench(keyword);\n  return false;\n}\nfunction hasWrongPlace(keyword) {\n  const region = String($('Normalize Input').first().json.input.region ?? '').toLowerCase();\n  if (region.includes('austria') || region.includes('österreich') || region.includes('osterreich')) {\n    return /\\b(venice|venedig|venezia)\\b/i.test(keyword);\n  }\n  return false;\n}\nfunction isRejected(keyword) {\n  return forbiddenPatterns.some((pattern) => pattern.test(keyword))\n    || hasWrongScript(keyword)\n    || hasMixedLatinAndCjk(keyword)\n    || hasWrongLanguage(keyword)\n    || hasWrongPlace(keyword);\n}\nconst rejected_keywords = rawKeywords.filter(isRejected);\nconst keywords = rawKeywords.filter((keyword) => !isRejected(keyword)).slice(0, 8);\nif (keywords.length < 5) {\n  fail('too few usable same-language human problem-intent keywords after filtering technical/mixed-language/wrong-language queries. Rejected: ' + rejected_keywords.join(', '));\n}\nconst base = $('Validate Search Intent JSON').first().json;\nreturn [{ json: { ...base, seo_keywords: { keywords, rejected_keywords } } }];"
      },
      "id": "34e8f9a0-b1c2-43d4-e5f6-a70123456789",
      "name": "Validate SEO Keywords JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/keywords_data/google_ads/keywords_for_keywords/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ [{ keywords: $json.seo_keywords.keywords, location_name: $json.input.region, language_code: $json.input.seo_language, sort_by: 'relevance' }] }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "35f9a0b1-c2d3-44e5-f6a7-0123456789ab",
      "name": "DataForSEO Search Volume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst previous = $('Validate SEO Keywords JSON').first().json;\n\nconst results = [];\nfor (const task of response?.tasks ?? []) {\n  for (const item of task?.result ?? []) {\n    if (!item || typeof item !== 'object') continue;\n    results.push({\n      keyword: item.keyword,\n      search_volume: Number(item.search_volume ?? 0),\n      competition: item.competition ?? null,\n      competition_index: item.competition_index === null || item.competition_index === undefined ? null : Number(item.competition_index),\n      cpc: item.cpc === null || item.cpc === undefined ? null : Number(item.cpc),\n    });\n  }\n}\n\nconst seedKeywords = Array.isArray(previous.seo_keywords?.keywords)\n  ? previous.seo_keywords.keywords.map((keyword) => String(keyword).trim()).filter(Boolean)\n  : [];\nconst seedKeywordCount = seedKeywords.length;\nconst totalSearchVolume = results.reduce((sum, item) => sum + (Number.isFinite(item.search_volume) ? item.search_volume : 0), 0);\nconst maxSearchVolume = results.reduce((max, item) => Math.max(max, Number.isFinite(item.search_volume) ? item.search_volume : 0), 0);\nconst zeroVolumeResultCount = results.filter((item) => !Number.isFinite(item.search_volume) || item.search_volume === 0).length;\nconst competitionValues = results.map((item) => item.competition_index).filter((value) => Number.isFinite(value));\nconst averageCompetitionIndex = competitionValues.length\n  ? Math.round(competitionValues.reduce((sum, value) => sum + value, 0) / competitionValues.length)\n  : null;\n\nfunction demandLevel(total, max, resultCount, seedCount) {\n  if (seedCount > 0 && (resultCount === 0 || total === 0)) return 'unknown';\n  if (seedCount > 0 && total < 100 && resultCount < 5) return 'unknown';\n  if (total >= 10000 || max >= 3000) return 'high';\n  if (total >= 1000 || max >= 300) return 'medium';\n  return 'low';\n}\n\nfunction competitionLevel(avg, resultCount) {\n  if (resultCount === 0 || !Number.isFinite(avg)) return 'unknown';\n  if (avg >= 65) return 'high';\n  if (avg >= 35) return 'medium';\n  return 'low';\n}\n\nconst top_keywords = results\n  .slice()\n  .sort((a, b) => b.search_volume - a.search_volume)\n  .slice(0, 5);\n\nconst demand_level = demandLevel(totalSearchVolume, maxSearchVolume, results.length, seedKeywordCount);\nconst competition_level = competitionLevel(averageCompetitionIndex, results.length);\nconst data_status = demand_level === 'unknown'\n  ? 'insufficient_or_zero_volume_suggestions'\n  : 'suggestions_with_volume';\n\nconst seo_context = {\n  keywords: seedKeywords,\n  demand_level,\n  competition_level,\n  data_status,\n  source_endpoint: 'keywords_data/google_ads/keywords_for_keywords/live',\n  seed_keyword_count: seedKeywordCount,\n  rejected_seed_keywords: previous.seo_keywords?.rejected_keywords ?? [],\n  search_intent: previous.search_intent,\n  total_search_volume: totalSearchVolume,\n  max_search_volume: maxSearchVolume,\n  average_competition_index: averageCompetitionIndex,\n  keyword_count: results.length,\n  zero_volume_result_count: zeroVolumeResultCount,\n  top_keywords,\n};\n\nreturn [{ json: { ...previous, dataforseo_raw: response, seo_context } }];"
      },
      "id": "36a0b1c2-d3e4-45f6-a701-23456789abcd",
      "name": "Normalize SEO Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "provider-is-claude-step-1",
              "leftValue": "={{ $json.llm.provider }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11f2a3b4-c5d6-47e8-8f90-1a2b3c4d5e6f",
      "name": "Provider Switch 1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        180,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.llm.model, max_tokens: 1800, temperature: 0.1, system: 'You are a skeptical product positioning analyst. Return valid JSON only, no markdown, no prose outside JSON.', messages: [{ role: 'user', content: `Task: Packaging / Repackaging. Use the requested language for natural-language values: ${$json.input.language}. Keep JSON keys exactly as requested.\n\nOriginal user idea JSON:\n${JSON.stringify($json.input, null, 2)}\n\nIdea classification JSON:\n${JSON.stringify($json.idea_classification, null, 2)}\n\nAnalyzer guardrails JSON:\n${JSON.stringify($json.analyzer_guardrails, null, 2)}\n\nSEO context JSON:\n${JSON.stringify($json.seo_context, null, 2)}\n\nMarket insights JSON:\n${JSON.stringify($json.market_insights ?? { status: 'insufficient_data' }, null, 2)}\n\nCritical separation rule:\nYou are analyzing the user's business idea itself.\nDo not reinterpret the user's idea as this decision-support system.\nThe decision-support system is the analyzer, not the product being analyzed.\n\nIf the user idea is a physical product, local service, marketplace, ecommerce concept, or offline business, keep it in that category.\nDo not transform it into SaaS, AI assistant, decision engine, or software product unless the input explicitly says so.\n\nDo not shift the product from a consumer problem to enterprise project management unless explicitly stated.\nIf the idea starts from a personal, household, or individual purchase use case, preserve it as a consumer-first product.\nOnly choose B2B or enterprise positioning when the input explicitly names a business buyer, team workflow, or company procurement context.\n\nRules:\n- Stay strictly within the user's actual idea and detected idea_type.\n- Return only angles that are direct reframings of the given product or service idea.\n- Good angles are specific, testable, close to the input, and preserve the business category.\n- Do not default to founders, indie makers, consultants, or startup tooling unless they are plausible buyers for the actual user idea.\n- Do not invent institutional audiences like schools, hospitals, or government unless explicitly implied by the input.\n- Consider whether the product can be positioned using a strong coordinating metaphor such as AI foreman, AI project lead, or AI builder before the build.\n- Only use such a metaphor if it improves clarity and distinctiveness for the actual user idea.\n- Do not force coordinating metaphors like foreman, project lead, or builder unless they naturally fit the user idea.\n- For booking, payments, marketplaces, ecommerce, local services, or standard software products, prefer plain market-facing positioning.\n\nExtract the core value, propose 3 to 5 packaging or positioning angles, decide if repackaging is needed, and select the best starting angle.\n\nReturn one JSON object with these keys and types: core_value string; angles array of 3 to 5 objects with name string, audience_hint string, problem_statement string, differentiation string, seo_heat enum low|medium|high, recommendation enum reject|test|prefer; selected_angle object with name string and why string; repackaging_needed boolean.\n\nReturn valid JSON only, no markdown, no prose outside JSON.` }] } }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "2a3b4c5d-6e7f-4081-a9b0-2c3d4e5f6a7b",
      "name": "LLM Step 1 - Claude Packaging",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.llm.ollama_host + '/api/chat' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.llm.model, stream: false, format: 'json', options: { temperature: 0.1, num_predict: 1400, num_ctx: 4096 }, messages: [{ role: 'system', content: 'You are a skeptical product positioning analyst. Return valid JSON only, no markdown, no prose outside JSON.' }, { role: 'user', content: `Task: Packaging / Repackaging. Use the requested language for natural-language values: ${$json.input.language}. Keep JSON keys exactly as requested.\n\nOriginal user idea JSON:\n${JSON.stringify($json.input, null, 2)}\n\nIdea classification JSON:\n${JSON.stringify($json.idea_classification, null, 2)}\n\nAnalyzer guardrails JSON:\n${JSON.stringify($json.analyzer_guardrails, null, 2)}\n\nSEO context JSON:\n${JSON.stringify($json.seo_context, null, 2)}\n\nMarket insights JSON:\n${JSON.stringify($json.market_insights ?? { status: 'insufficient_data' }, null, 2)}\n\nCritical separation rule:\nYou are analyzing the user's business idea itself.\nDo not reinterpret the user's idea as this decision-support system.\nThe decision-support system is the analyzer, not the product being analyzed.\n\nIf the user idea is a physical product, local service, marketplace, ecommerce concept, or offline business, keep it in that category.\nDo not transform it into SaaS, AI assistant, decision engine, or software product unless the input explicitly says so.\n\nDo not shift the product from a consumer problem to enterprise project management unless explicitly stated.\nIf the idea starts from a personal, household, or individual purchase use case, preserve it as a consumer-first product.\nOnly choose B2B or enterprise positioning when the input explicitly names a business buyer, team workflow, or company procurement context.\n\nRules:\n- Stay strictly within the user's actual idea and detected idea_type.\n- Return only angles that are direct reframings of the given product or service idea.\n- Good angles are specific, testable, close to the input, and preserve the business category.\n- Do not default to founders, indie makers, consultants, or startup tooling unless they are plausible buyers for the actual user idea.\n- Do not invent institutional audiences like schools, hospitals, or government unless explicitly implied by the input.\n- Consider whether the product can be positioned using a strong coordinating metaphor such as AI foreman, AI project lead, or AI builder before the build.\n- Only use such a metaphor if it improves clarity and distinctiveness for the actual user idea.\n- Do not force coordinating metaphors like foreman, project lead, or builder unless they naturally fit the user idea.\n- For booking, payments, marketplaces, ecommerce, local services, or standard software products, prefer plain market-facing positioning.\n\nExtract the core value, propose 3 to 5 packaging or positioning angles, decide if repackaging is needed, and select the best starting angle.\n\nReturn one JSON object with these keys and types: core_value string; angles array of 3 to 5 objects with name string, audience_hint string, problem_statement string, differentiation string, seo_heat enum low|medium|high, recommendation enum reject|test|prefer; selected_angle object with name string and why string; repackaging_needed boolean.\n\nReturn valid JSON only, no markdown, no prose outside JSON.` }] } }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "22a3b4c5-d6e7-4819-9a0b-2c3d4e5f6a7b",
      "name": "LLM Step 1 - Ollama Packaging",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nfunction fail(message) { throw new Error('Validate Packaging JSON: ' + message); }\nfunction textFromLlm(res) {\n  if (typeof res === 'string') return res;\n  if (typeof res?.content?.[0]?.text === 'string') return res.content[0].text;\n  if (typeof res?.message?.content === 'string') return res.message.content;\n  if (typeof res?.response === 'string') return res.response;\n  fail('missing LLM text response at Anthropic content[0].text or Ollama message.content');\n}\nlet packaging;\nfunction extractJsonText(text) {\n  const raw = String(text ?? '').trim();\n  const fenced = raw.match(/\\`\\`\\`(?:json)?\\s*([\\s\\S]*?)\\s*\\`\\`\\`/i);\n  const candidate = fenced ? fenced[1].trim() : raw;\n  const start = candidate.indexOf('{');\n  const end = candidate.lastIndexOf('}');\n  if (start === -1 || end === -1 || end <= start) return candidate;\n  return candidate.slice(start, end + 1);\n}\nfunction parseStrictJson(text, fail) {\n  const candidate = extractJsonText(text);\n  try {\n    return JSON.parse(candidate);\n  } catch (error) {\n    const preview = candidate.slice(0, 500).replace(/\\s+/g, ' ');\n    fail('LLM returned invalid JSON: ' + error.message + '. Preview: ' + preview);\n  }\n}\npackaging = parseStrictJson(textFromLlm(response), fail);\nif (!packaging || typeof packaging !== 'object' || Array.isArray(packaging)) fail('root must be an object');\nif (typeof packaging.core_value !== 'string' || !packaging.core_value.trim()) fail('core_value must be a non-empty string');\nif (!Array.isArray(packaging.angles) || packaging.angles.length < 3 || packaging.angles.length > 5) fail('angles must contain 3 to 5 items');\nconst seoHeat = ['low', 'medium', 'high'];\nconst recommendations = ['reject', 'test', 'prefer'];\nfor (const [index, angle] of packaging.angles.entries()) {\n  for (const field of ['name', 'audience_hint', 'problem_statement', 'differentiation']) {\n    if (typeof angle?.[field] !== 'string' || !angle[field].trim()) fail('angles[' + index + '].' + field + ' must be a non-empty string');\n  }\n  if (!seoHeat.includes(angle.seo_heat)) fail('angles[' + index + '].seo_heat must be low, medium, or high');\n  if (!recommendations.includes(angle.recommendation)) fail('angles[' + index + '].recommendation must be reject, test, or prefer');\n}\nif (typeof packaging.selected_angle?.name !== 'string' || !packaging.selected_angle.name.trim()) fail('selected_angle.name must be a non-empty string');\nif (typeof packaging.selected_angle?.why !== 'string' || !packaging.selected_angle.why.trim()) fail('selected_angle.why must be a non-empty string');\nif (typeof packaging.repackaging_needed !== 'boolean') fail('repackaging_needed must be boolean');\nconst base = $('Normalize Market Insights').first().json;\nreturn [{ json: { ...base, packaging } }];"
      },
      "id": "3b4c5d6e-7f80-4192-b0c1-3d4e5f6a7b8c",
      "name": "Validate Packaging JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "provider-is-claude-step-2",
              "leftValue": "={{ $json.llm.provider }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33b4c5d6-e7f8-4920-a1b2-3c4d5e6f7a8b",
      "name": "Provider Switch 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.llm.model, max_tokens: 1800, temperature: 0.1, system: 'You are a skeptical product and ICP analyst. Return valid JSON only, no markdown, no prose outside JSON.', messages: [{ role: 'user', content: `Task: Product Breakdown + ICP. Use the requested language for natural-language values: ${$json.input.language}. Keep JSON keys exactly as requested.\n\nOriginal user idea JSON:\n${JSON.stringify($json.input, null, 2)}\n\nIdea classification JSON:\n${JSON.stringify($json.idea_classification, null, 2)}\n\nAnalyzer guardrails JSON:\n${JSON.stringify($json.analyzer_guardrails, null, 2)}\n\nSEO context JSON:\n${JSON.stringify($json.seo_context, null, 2)}\n\nMarket insights JSON:\n${JSON.stringify($json.market_insights ?? { status: 'insufficient_data' }, null, 2)}\n\nPackaging result JSON:\n${JSON.stringify($json.packaging, null, 2)}\n\nDescribe the product in the selected packaging, define the value proposition, identify primary ICP and optional secondary ICP segments, and list risks.\n\nRules:\n- Product summary category must match the user's actual idea and detected idea_type, not the analyzer.\n- If the idea is physical/local/ecommerce/offline, the ICP should be real buyers or purchase decision-makers for that product/service.\n- Do not default to founders, indie makers, consultants, startup teams, or idea-validation users unless the original idea is actually about startup tooling or idea validation.\n- Primary ICP must include both identity and situation before purchase.\n- Primary ICP must describe who they are, what they are doing when they need this product, and what specific purchase or adoption decision they are trying to make.\n- Bad example: parents in Austria.\n- Good example: parents in Vienna planning a child birthday party this month who want ready-made helium balloon sets delivered without coordinating decoration themselves.\n- Prefer a narrow operational buyer segment over broad categories.\n- Avoid labels like small business unless narrowed to a specific service type or use case.\n- Avoid generic categories like businesses, consumers, parents, startups, entrepreneurs, companies, or organizations without a purchase situation.\n- Region fit does not mean repeating the country name. Explain why the chosen ICP is a good fit in that region.\n\nReturn one JSON object with these exact keys and types: product_summary object with category string, job_to_be_done string, value_proposition string, monetization_hint string; primary_icp object with segment string, pain string, trigger string, buying_motivation string, region_fit string; secondary_icp array of objects with segment string and pain string; risks array of strings.\n\nDo not omit product_summary.monetization_hint. If monetization is uncertain, set monetization_hint to a conservative hypothesis and mention that it requires willingness-to-pay validation.\n\nReturn valid JSON only, no markdown, no prose outside JSON.` }] } }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "4c5d6e7f-8091-42a3-c1d2-4e5f6a7b8c9d",
      "name": "LLM Step 2 - Claude Product ICP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.llm.ollama_host + '/api/chat' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.llm.model, stream: false, format: 'json', options: { temperature: 0.1, num_predict: 1400, num_ctx: 4096 }, messages: [{ role: 'system', content: 'You are a skeptical product and ICP analyst. Return valid JSON only, no markdown, no prose outside JSON.' }, { role: 'user', content: `Task: Product Breakdown + ICP. Use the requested language for natural-language values: ${$json.input.language}. Keep JSON keys exactly as requested.\n\nOriginal user idea JSON:\n${JSON.stringify($json.input, null, 2)}\n\nIdea classification JSON:\n${JSON.stringify($json.idea_classification, null, 2)}\n\nAnalyzer guardrails JSON:\n${JSON.stringify($json.analyzer_guardrails, null, 2)}\n\nSEO context JSON:\n${JSON.stringify($json.seo_context, null, 2)}\n\nMarket insights JSON:\n${JSON.stringify($json.market_insights ?? { status: 'insufficient_data' }, null, 2)}\n\nPackaging result JSON:\n${JSON.stringify($json.packaging, null, 2)}\n\nDescribe the product in the selected packaging, define the value proposition, identify primary ICP and optional secondary ICP segments, and list risks.\n\nRules:\n- Product summary category must match the user's actual idea and detected idea_type, not the analyzer.\n- If the idea is physical/local/ecommerce/offline, the ICP should be real buyers or purchase decision-makers for that product/service.\n- Do not default to founders, indie makers, consultants, startup teams, or idea-validation users unless the original idea is actually about startup tooling or idea validation.\n- Primary ICP must include both identity and situation before purchase.\n- Primary ICP must describe who they are, what they are doing when they need this product, and what specific purchase or adoption decision they are trying to make.\n- Bad example: parents in Austria.\n- Good example: parents in Vienna planning a child birthday party this month who want ready-made helium balloon sets delivered without coordinating decoration themselves.\n- Prefer a narrow operational buyer segment over broad categories.\n- Avoid labels like small business unless narrowed to a specific service type or use case.\n- Avoid generic categories like businesses, consumers, parents, startups, entrepreneurs, companies, or organizations without a purchase situation.\n- Region fit does not mean repeating the country name. Explain why the chosen ICP is a good fit in that region.\n\nReturn one JSON object with these exact keys and types: product_summary object with category string, job_to_be_done string, value_proposition string, monetization_hint string; primary_icp object with segment string, pain string, trigger string, buying_motivation string, region_fit string; secondary_icp array of objects with segment string and pain string; risks array of strings.\n\nDo not omit product_summary.monetization_hint. If monetization is uncertain, set monetization_hint to a conservative hypothesis and mention that it requires willingness-to-pay validation.\n\nReturn valid JSON only, no markdown, no prose outside JSON.` }] } }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "44c5d6e7-f809-413a-b2c3-4d5e6f7a8b9c",
      "name": "LLM Step 2 - Ollama Product ICP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nfunction fail(message) { throw new Error('Validate Product JSON: ' + message); }\nfunction textFromLlm(res) {\n  if (typeof res === 'string') return res;\n  if (typeof res?.content?.[0]?.text === 'string') return res.content[0].text;\n  if (typeof res?.message?.content === 'string') return res.message.content;\n  if (typeof res?.response === 'string') return res.response;\n  fail('missing LLM text response at Anthropic content[0].text or Ollama message.content');\n}\nlet product;\nfunction extractJsonText(text) {\n  const raw = String(text ?? '').trim();\n  const fenced = raw.match(/\\`\\`\\`(?:json)?\\s*([\\s\\S]*?)\\s*\\`\\`\\`/i);\n  const candidate = fenced ? fenced[1].trim() : raw;\n  const start = candidate.indexOf('{');\n  const end = candidate.lastIndexOf('}');\n  if (start === -1 || end === -1 || end <= start) return candidate;\n  return candidate.slice(start, end + 1);\n}\nfunction parseStrictJson(text, fail) {\n  const candidate = extractJsonText(text);\n  try {\n    return JSON.parse(candidate);\n  } catch (error) {\n    const preview = candidate.slice(0, 500).replace(/\\s+/g, ' ');\n    fail('LLM returned invalid JSON: ' + error.message + '. Preview: ' + preview);\n  }\n}\nproduct = parseStrictJson(textFromLlm(response), fail);\nfunction getAt(obj, path) {\n  return path.split('.').reduce((acc, key) => acc?.[key], obj);\n}\nfunction setAt(obj, path, value) {\n  const keys = path.split('.');\n  const last = keys.pop();\n  const target = keys.reduce((acc, key) => {\n    if (!acc[key] || typeof acc[key] !== 'object') acc[key] = {};\n    return acc[key];\n  }, obj);\n  target[last] = value;\n}\nfunction stringAt(obj, path) {\n  const value = getAt(obj, path);\n  if (typeof value !== 'string' || !value.trim()) fail(path + ' must be a non-empty string');\n}\nfunction defaultStringAt(obj, path, value) {\n  const current = getAt(obj, path);\n  if (typeof current !== 'string' || !current.trim()) setAt(obj, path, value);\n}\nif (!product || typeof product !== 'object' || Array.isArray(product)) fail('root must be an object');\nproduct.product_summary = product.product_summary && typeof product.product_summary === 'object' ? product.product_summary : {};\nproduct.primary_icp = product.primary_icp && typeof product.primary_icp === 'object' ? product.primary_icp : {};\ndefaultStringAt(product, 'product_summary.monetization_hint', 'Unknown: requires validation through willingness-to-pay tests.');\nfor (const path of ['product_summary.category', 'product_summary.job_to_be_done', 'product_summary.value_proposition', 'primary_icp.segment', 'primary_icp.pain', 'primary_icp.trigger', 'primary_icp.buying_motivation', 'primary_icp.region_fit']) stringAt(product, path);\nif (!Array.isArray(product.secondary_icp)) fail('secondary_icp must be an array');\nfor (const [index, icp] of product.secondary_icp.entries()) {\n  if (typeof icp?.segment !== 'string' || !icp.segment.trim()) fail('secondary_icp[' + index + '].segment must be a non-empty string');\n  if (typeof icp?.pain !== 'string' || !icp.pain.trim()) fail('secondary_icp[' + index + '].pain must be a non-empty string');\n}\nif (!Array.isArray(product.risks) || product.risks.length === 0) fail('risks must be a non-empty array');\nfor (const [index, risk] of product.risks.entries()) {\n  if (typeof risk !== 'string' || !risk.trim()) fail('risks[' + index + '] must be a non-empty string');\n}\nconst previous = $('Validate Packaging JSON').first().json;\nreturn [{ json: { ...previous, product } }];"
      },
      "id": "5d6e7f80-91a2-43b4-d2e3-5f6a7b8c9d0e",
      "name": "Validate Product JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "provider-is-claude-step-3",
              "leftValue": "={{ $json.llm.provider }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "55d6e7f8-091a-423b-c4d5-6e7f8a9b0c1d",
      "name": "Provider Switch 3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.llm.model, max_tokens: 2600, temperature: 0.1, system: 'You are a skeptical startup and business validation analyst. Return valid JSON only, no markdown, no prose outside JSON.', messages: [{ role: 'user', content: `Task: Synthetic Validation + Decision + Action Plan. Use the requested language for natural-language values: ${$json.input.language}. Keep JSON keys exactly as requested.\n\nOriginal user idea JSON:\n${JSON.stringify($json.input, null, 2)}\n\nIdea classification JSON:\n${JSON.stringify($json.idea_classification, null, 2)}\n\nAnalyzer guardrails JSON:\n${JSON.stringify($json.analyzer_guardrails, null, 2)}\n\nSEO context JSON:\n${JSON.stringify($json.seo_context, null, 2)}\n\nMarket insights JSON:\n${JSON.stringify($json.market_insights ?? { status: 'insufficient_data' }, null, 2)}\n\nROI estimate JSON:\n${JSON.stringify($json.roi_estimate ?? { status: 'insufficient_data' }, null, 2)}\n\nPrivacy context JSON:\n${JSON.stringify($json.privacy_context ?? { status: 'limited_signal' }, null, 2)}\n\nPackaging result JSON:\n${JSON.stringify($json.packaging, null, 2)}\n\nProduct and ICP result JSON:\n${JSON.stringify($json.product, null, 2)}\n\nGive synthetic validation, estimate viability, choose GO, NO_GO, or REPACKAGE, return confidence from 0 to 1, provide a concrete 2 week action plan, and return concrete repackage_options when decision is REPACKAGE.\n\nRules:\n- Validate the user's actual business idea, not the analyzer or this workflow.\n- Assume uncertainty.\n- Be critical and skeptical.\n- Do not inflate scores.\n- If the idea is broad, unclear, crowded, easily replicable, weakly differentiated, operationally hard, or evidence is missing, reduce scores and highlight missing proof.\n- Do not assign high scores unless the ICP is narrow and specific, the value proposition is clearly differentiated, and the path to monetization is realistic.\n- High scores from 8 to 10 require explicit evidence from the idea itself. If evidence is weak, say so explicitly and score conservatively.\n- Confidence must reflect uncertainty.\n- Do not output confidence above 0.75 unless the idea is clearly narrow, differentiated, and commercially plausible.\n- Prefer REPACKAGE when the idea has a real problem but the positioning is still too broad.\n- Low SEO demand should reduce confidence unless there is a clear non-search distribution channel.\n- Unknown SEO demand means insufficient signal or zero-volume suggestions, not proof that demand is low. Do not treat unknown as no market.\n- If SEO demand is unknown, mention the uncertainty and rely more on ICP clarity, urgency, substitute behavior, and non-search distribution.\n- High SEO competition should increase the chance of REPACKAGE, especially toward a narrower ICP, use case, or channel.\n- Use market insights as directional evidence, not ground truth.\n- High avg CPC, high estimated CPL, strong SERP, and ads presence should reduce confidence unless differentiation is clear.\n- If market_insights.status is insufficient_data, say the commercial signal is incomplete and stay conservative.\n- Use roi_estimate as a directional economics proxy, not as proof of viability.\n- If roi_estimate.verdict is weak, reduce confidence unless there is a clear strategic reason to continue.\n- privacy_context is heuristic and not legal advice, but applicable regimes and required actions should affect launch complexity.\n- If privacy_context.launch_status is high_risk, mention compliance burden explicitly and reduce confidence.\n- Action plan must be concrete, test-first, measurable, and executable within 2 weeks.\n- Avoid generic tasks like do research or build MVP without measurable output.\n- You are not allowed to give vague strategic advice.\n- If decision is REPACKAGE, you must propose 2 to 3 concrete repositioning options in repackage_options.\n- If decision is not REPACKAGE, return repackage_options as an empty array.\n- Each repackage option must make the product easier to explain, make the buyer segment narrower or clearer, improve likelihood of testing quickly, and reduce ambiguity.\n- Each option must change at least one of: ICP, distribution channel, use case scope, offer format, urgency framing, price or monetization framing.\n- Avoid fake variety. Options must not be small wording variations of the same idea.\n- Prefer repositioning through narrower audience, narrower use case, stronger trigger moment, more natural channel, or simpler offer.\n- Do not propose changes that turn the idea into a completely different business.\n- Do not convert physical products into SaaS. Do not convert local services into startup tooling. Respect the original idea category.\n- For each repackage option, consider what users use instead today, whether ChatGPT alone already solves most of the problem, whether the current idea is too broad, and whether the current idea lacks a clear buying moment.\n- Use those realism checks to justify why the repositioned version is better.\n\nReturn one JSON object with these keys and types: synthetic_validation object with pain_intensity integer 1..10, clarity_of_value integer 1..10, regional_fit integer 1..10, commentary string; decision enum GO|NO_GO|REPACKAGE; confidence number 0..1; reasoning array of strings; action_plan array of objects with week integer, goal string, tasks array of strings; repackage_options array. If decision is REPACKAGE, repackage_options must contain 2 to 3 objects with label string, what_changes string, new_icp string, new_positioning string, why_better string, tradeoffs array of strings, test_next array of strings. If decision is GO or NO_GO, repackage_options must be [].\n\nReturn valid JSON only, no markdown, no prose outside JSON.` }] } }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "6e7f8091-a2b3-44c5-e3f4-6a7b8c9d0e1f",
      "name": "LLM Step 3 - Claude Validation Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.llm.ollama_host + '/api/chat' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.llm.model, stream: false, format: 'json', options: { temperature: 0.1, num_predict: 1800, num_ctx: 4096 }, messages: [{ role: 'system', content: 'You are a skeptical startup and business validation analyst. Return valid JSON only, no markdown, no prose outside JSON.' }, { role: 'user', content: `Task: Synthetic Validation + Decision + Action Plan. Use the requested language for natural-language values: ${$json.input.language}. Keep JSON keys exactly as requested.\n\nOriginal user idea JSON:\n${JSON.stringify($json.input, null, 2)}\n\nIdea classification JSON:\n${JSON.stringify($json.idea_classification, null, 2)}\n\nAnalyzer guardrails JSON:\n${JSON.stringify($json.analyzer_guardrails, null, 2)}\n\nSEO context JSON:\n${JSON.stringify($json.seo_context, null, 2)}\n\nMarket insights JSON:\n${JSON.stringify($json.market_insights ?? { status: 'insufficient_data' }, null, 2)}\n\nROI estimate JSON:\n${JSON.stringify($json.roi_estimate ?? { status: 'insufficient_data' }, null, 2)}\n\nPrivacy context JSON:\n${JSON.stringify($json.privacy_context ?? { status: 'limited_signal' }, null, 2)}\n\nPackaging result JSON:\n${JSON.stringify($json.packaging, null, 2)}\n\nProduct and ICP result JSON:\n${JSON.stringify($json.product, null, 2)}\n\nGive synthetic validation, estimate viability, choose GO, NO_GO, or REPACKAGE, return confidence from 0 to 1, provide a concrete 2 week action plan, and return concrete repackage_options when decision is REPACKAGE.\n\nRules:\n- Validate the user's actual business idea, not the analyzer or this workflow.\n- Assume uncertainty.\n- Be critical and skeptical.\n- Do not inflate scores.\n- If the idea is broad, unclear, crowded, easily replicable, weakly differentiated, operationally hard, or evidence is missing, reduce scores and highlight missing proof.\n- Do not assign high scores unless the ICP is narrow and specific, the value proposition is clearly differentiated, and the path to monetization is realistic.\n- High scores from 8 to 10 require explicit evidence from the idea itself. If evidence is weak, say so explicitly and score conservatively.\n- Confidence must reflect uncertainty.\n- Do not output confidence above 0.75 unless the idea is clearly narrow, differentiated, and commercially plausible.\n- Prefer REPACKAGE when the idea has a real problem but the positioning is still too broad.\n- Low SEO demand should reduce confidence unless there is a clear non-search distribution channel.\n- Unknown SEO demand means insufficient signal or zero-volume suggestions, not proof that demand is low. Do not treat unknown as no market.\n- If SEO demand is unknown, mention the uncertainty and rely more on ICP clarity, urgency, substitute behavior, and non-search distribution.\n- High SEO competition should increase the chance of REPACKAGE, especially toward a narrower ICP, use case, or channel.\n- Use market insights as directional evidence, not ground truth.\n- High avg CPC, high estimated CPL, strong SERP, and ads presence should reduce confidence unless differentiation is clear.\n- If market_insights.status is insufficient_data, say the commercial signal is incomplete and stay conservative.\n- Use roi_estimate as a directional economics proxy, not as proof of viability.\n- If roi_estimate.verdict is weak, reduce confidence unless there is a clear strategic reason to continue.\n- privacy_context is heuristic and not legal advice, but applicable regimes and required actions should affect launch complexity.\n- If privacy_context.launch_status is high_risk, mention compliance burden explicitly and reduce confidence.\n- Action plan must be concrete, test-first, measurable, and executable within 2 weeks.\n- Avoid generic tasks like do research or build MVP without measurable output.\n- You are not allowed to give vague strategic advice.\n- If decision is REPACKAGE, you must propose 2 to 3 concrete repositioning options in repackage_options.\n- If decision is not REPACKAGE, return repackage_options as an empty array.\n- Each repackage option must make the product easier to explain, make the buyer segment narrower or clearer, improve likelihood of testing quickly, and reduce ambiguity.\n- Each option must change at least one of: ICP, distribution channel, use case scope, offer format, urgency framing, price or monetization framing.\n- Avoid fake variety. Options must not be small wording variations of the same idea.\n- Prefer repositioning through narrower audience, narrower use case, stronger trigger moment, more natural channel, or simpler offer.\n- Do not propose changes that turn the idea into a completely different business.\n- Do not convert physical products into SaaS. Do not convert local services into startup tooling. Respect the original idea category.\n- For each repackage option, consider what users use instead today, whether ChatGPT alone already solves most of the problem, whether the current idea is too broad, and whether the current idea lacks a clear buying moment.\n- Use those realism checks to justify why the repositioned version is better.\n\nReturn one JSON object with these keys and types: synthetic_validation object with pain_intensity integer 1..10, clarity_of_value integer 1..10, regional_fit integer 1..10, commentary string; decision enum GO|NO_GO|REPACKAGE; confidence number 0..1; reasoning array of strings; action_plan array of objects with week integer, goal string, tasks array of strings; repackage_options array. If decision is REPACKAGE, repackage_options must contain 2 to 3 objects with label string, what_changes string, new_icp string, new_positioning string, why_better string, tradeoffs array of strings, test_next array of strings. If decision is GO or NO_GO, repackage_options must be [].\n\nReturn valid JSON only, no markdown, no prose outside JSON.` }] } }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "66e7f809-1a2b-43c4-d5e6-7f8a9b0c1d2e",
      "name": "LLM Step 3 - Ollama Validation Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nfunction fail(message) { throw new Error('Validate Final Decision JSON: ' + message); }\nfunction textFromLlm(res) {\n  if (typeof res === 'string') return res;\n  if (typeof res?.content?.[0]?.text === 'string') return res.content[0].text;\n  if (typeof res?.message?.content === 'string') return res.message.content;\n  if (typeof res?.response === 'string') return res.response;\n  fail('missing LLM text response at Anthropic content[0].text or Ollama message.content');\n}\nlet finalDecision;\nfunction extractJsonText(text) {\n  const raw = String(text ?? '').trim();\n  const fenced = raw.match(/\\`\\`\\`(?:json)?\\s*([\\s\\S]*?)\\s*\\`\\`\\`/i);\n  const candidate = fenced ? fenced[1].trim() : raw;\n  const start = candidate.indexOf('{');\n  const end = candidate.lastIndexOf('}');\n  if (start === -1 || end === -1 || end <= start) return candidate;\n  return candidate.slice(start, end + 1);\n}\nfunction parseStrictJson(text, fail) {\n  const candidate = extractJsonText(text);\n  try {\n    return JSON.parse(candidate);\n  } catch (error) {\n    const preview = candidate.slice(0, 500).replace(/\\s+/g, ' ');\n    fail('LLM returned invalid JSON: ' + error.message + '. Preview: ' + preview);\n  }\n}\nfinalDecision = parseStrictJson(textFromLlm(response), fail);\nif (!finalDecision || typeof finalDecision !== 'object' || Array.isArray(finalDecision)) fail('root must be an object');\nconst validation = finalDecision.synthetic_validation;\nif (!validation || typeof validation !== 'object' || Array.isArray(validation)) fail('synthetic_validation must be an object');\nfor (const field of ['pain_intensity', 'clarity_of_value', 'regional_fit']) {\n  if (!Number.isInteger(validation[field]) || validation[field] < 1 || validation[field] > 10) fail('synthetic_validation.' + field + ' must be an integer from 1 to 10');\n}\nif (typeof validation.commentary !== 'string' || !validation.commentary.trim()) fail('synthetic_validation.commentary must be a non-empty string');\nif (!['GO', 'NO_GO', 'REPACKAGE'].includes(finalDecision.decision)) fail('decision must be GO, NO_GO, or REPACKAGE');\nif (typeof finalDecision.confidence !== 'number' || finalDecision.confidence < 0 || finalDecision.confidence > 1) fail('confidence must be a number from 0 to 1');\nif (!Array.isArray(finalDecision.reasoning) || finalDecision.reasoning.length === 0) fail('reasoning must be a non-empty array');\nfor (const [index, reason] of finalDecision.reasoning.entries()) {\n  if (typeof reason !== 'string' || !reason.trim()) fail('reasoning[' + index + '] must be a non-empty string');\n}\nif (!Array.isArray(finalDecision.action_plan) || finalDecision.action_plan.length === 0) fail('action_plan must be a non-empty array');\nfor (const [index, item] of finalDecision.action_plan.entries()) {\n  if (!Number.isInteger(item?.week) || item.week < 1 || item.week > 3) fail('action_plan[' + index + '].week must be an integer from 1 to 3');\n  if (typeof item.goal !== 'string' || !item.goal.trim()) fail('action_plan[' + index + '].goal must be a non-empty string');\n  if (!Array.isArray(item.tasks) || item.tasks.length === 0) fail('action_plan[' + index + '].tasks must be a non-empty array');\n  for (const [taskIndex, task] of item.tasks.entries()) {\n    if (typeof task !== 'string' || !task.trim()) fail('action_plan[' + index + '].tasks[' + taskIndex + '] must be a non-empty string');\n  }\n}\nif (!Array.isArray(finalDecision.repackage_options)) finalDecision.repackage_options = [];\nif (finalDecision.decision !== 'REPACKAGE') {\n  finalDecision.repackage_options = [];\n} else {\n  if (finalDecision.repackage_options.length < 2 || finalDecision.repackage_options.length > 3) fail('repackage_options must contain 2 to 3 items when decision is REPACKAGE');\n  const required = ['label', 'what_changes', 'new_icp', 'new_positioning', 'why_better'];\n  for (const [index, option] of finalDecision.repackage_options.entries()) {\n    if (!option || typeof option !== 'object' || Array.isArray(option)) fail('repackage_options[' + index + '] must be an object');\n    for (const field of required) {\n      if (typeof option[field] !== 'string' || !option[field].trim()) fail('repackage_options[' + index + '].' + field + ' must be a non-empty string');\n    }\n    if (!Array.isArray(option.tradeoffs) || option.tradeoffs.length === 0) fail('repackage_options[' + index + '].tradeoffs must be a non-empty array');\n    for (const [tradeoffIndex, tradeoff] of option.tradeoffs.entries()) {\n      if (typeof tradeoff !== 'string' || !tradeoff.trim()) fail('repackage_options[' + index + '].tradeoffs[' + tradeoffIndex + '] must be a non-empty string');\n    }\n    if (!Array.isArray(option.test_next) || option.test_next.length === 0) fail('repackage_options[' + index + '].test_next must be a non-empty array');\n    for (const [testIndex, test] of option.test_next.entries()) {\n      if (typeof test !== 'string' || !test.trim()) fail('repackage_options[' + index + '].test_next[' + testIndex + '] must be a non-empty string');\n    }\n  }\n}\nconst previous = $('Compute Privacy Context').first().json;\nreturn [{ json: { ...previous, final_decision: finalDecision } }];"
      },
      "id": "7f8091a2-b3c4-45d6-f4a5-7b8c9d0e1f2a",
      "name": "Validate Final Decision JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst finalDecision = data.final_decision;\nreturn [{\n  json: {\n    input: data.input,\n    llm: data.llm,\n    idea_classification: data.idea_classification,\n    seo_context: data.seo_context,\n    market_insights: data.market_insights ?? { status: 'insufficient_data' },\n    roi_estimate: data.roi_estimate ?? { status: 'insufficient_data' },\n    privacy_context: data.privacy_context ?? { status: 'limited_signal', applicable_regimes: [], launch_status: 'clear', required_actions: [], risk_flags: [] },\n    packaging: data.packaging,\n    product: data.product,\n    validation: finalDecision.synthetic_validation,\n    result: {\n      decision: finalDecision.decision,\n      confidence: finalDecision.confidence,\n      reasoning: finalDecision.reasoning,\n      action_plan: finalDecision.action_plan,\n    },\n    repackage_options: finalDecision.repackage_options ?? [],\n  },\n}];"
      },
      "id": "8091a2b3-c4d5-46e7-a5b6-8c9d0e1f2a3b",
      "name": "Assemble Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "91a2b3c4-d5e6-47f8-b6c7-9d0e1f2a3b4c",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "provider-is-claude-search-intent",
              "leftValue": "={{ $json.llm.provider }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "intent-switch-0001-4000-8000-000000000001",
      "name": "Provider Switch Search Intent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1600,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.llm.model, max_tokens: 500, temperature: 0.1, system: 'You classify one dominant Google search intent. Return valid JSON only, no markdown, no prose outside JSON.', messages: [{ role: 'user', content: `Identify the PRIMARY Google search intent behind this idea.\n\nThe goal is to prevent SEO keyword drift.\n\nInput:\nIdea: ${$json.input.idea}\nRegion: ${$json.input.region}\nSEO language: ${$json.input.seo_language}\n\nIdea classification JSON:\n${JSON.stringify($json.idea_classification, null, 2)}\n\nOptions:\n- problem_diagnosis\n- finding_specialist\n- booking_service\n- learning_how_to_do\n- buying_product\n\nRules:\n- Return ONE dominant intent only.\n- Do not choose booking_service unless the core user action is booking an appointment or reservation.\n- Do not choose learning_how_to_do for software tutorials, coding, API usage, or building the product.\n- For home repair, renovation, construction, or selecting repair specialists, prefer problem_diagnosis or finding_specialist.\n- For marketplaces, choose the intent behind the buyer's immediate search, not the marketplace category.\n- Respect the original idea category. Do not convert local services into startup tooling.\n\nReturn one JSON object:\n{\n  \"search_intent\": \"problem_diagnosis|finding_specialist|booking_service|learning_how_to_do|buying_product\",\n  \"intent_description\": \"string\",\n  \"search_persona\": \"string\",\n  \"must_include\": [\"string\"],\n  \"must_exclude\": [\"string\"]\n}\n\nReturn valid JSON only, no markdown, no prose outside JSON.` }] } }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "intent-claude-0001-4000-8000-000000000002",
      "name": "LLM Search Intent - Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1380,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.llm.ollama_host + '/api/chat' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.llm.model, stream: false, format: 'json', options: { temperature: 0.1, num_predict: 350, num_ctx: 4096 }, messages: [{ role: 'system', content: 'You classify one dominant Google search intent. Return valid JSON only, no markdown, no prose outside JSON.' }, { role: 'user', content: `Identify the PRIMARY Google search intent behind this idea.\n\nThe goal is to prevent SEO keyword drift.\n\nInput:\nIdea: ${$json.input.idea}\nRegion: ${$json.input.region}\nSEO language: ${$json.input.seo_language}\n\nIdea classification JSON:\n${JSON.stringify($json.idea_classification, null, 2)}\n\nOptions:\n- problem_diagnosis\n- finding_specialist\n- booking_service\n- learning_how_to_do\n- buying_product\n\nRules:\n- Return ONE dominant intent only.\n- Do not choose booking_service unless the core user action is booking an appointment or reservation.\n- Do not choose learning_how_to_do for software tutorials, coding, API usage, or building the product.\n- For home repair, renovation, construction, or selecting repair specialists, prefer problem_diagnosis or finding_specialist.\n- For marketplaces, choose the intent behind the buyer's immediate search, not the marketplace category.\n- Respect the original idea category. Do not convert local services into startup tooling.\n\nReturn one JSON object:\n{\n  \"search_intent\": \"problem_diagnosis|finding_specialist|booking_service|learning_how_to_do|buying_product\",\n  \"intent_description\": \"string\",\n  \"search_persona\": \"string\",\n  \"must_include\": [\"string\"],\n  \"must_exclude\": [\"string\"]\n}\n\nReturn valid JSON only, no markdown, no prose outside JSON.` }] } }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "intent-ollama-0001-4000-8000-000000000003",
      "name": "LLM Search Intent - Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1380,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nfunction fail(message) { throw new Error('Validate Search Intent JSON: ' + message); }\nfunction textFromLlm(res) {\n  if (typeof res === 'string') return res;\n  if (typeof res?.content?.[0]?.text === 'string') return res.content[0].text;\n  if (typeof res?.message?.content === 'string') return res.message.content;\n  if (typeof res?.response === 'string') return res.response;\n  fail('missing LLM text response at Anthropic content[0].text or Ollama message.content');\n}\nfunction extractJsonText(text) {\n  const raw = String(text ?? '').trim();\n  const fenced = raw.match(/\\`\\`\\`(?:json)?\\s*([\\s\\S]*?)\\s*\\`\\`\\`/i);\n  const candidate = fenced ? fenced[1].trim() : raw;\n  const start = candidate.indexOf('{');\n  const end = candidate.lastIndexOf('}');\n  if (start === -1 || end === -1 || end <= start) return candidate;\n  return candidate.slice(start, end + 1);\n}\nlet parsed;\ntry {\n  parsed = JSON.parse(extractJsonText(textFromLlm(response)));\n} catch (error) {\n  fail('LLM returned invalid JSON: ' + error.message);\n}\nif (!parsed || typeof parsed !== 'object' || Array.isArray(parsed)) fail('root must be an object');\n\nconst aliases = {\n  'problem diagnosis': 'problem_diagnosis',\n  problem_diagnosis: 'problem_diagnosis',\n  diagnosis: 'problem_diagnosis',\n  'finding specialist': 'finding_specialist',\n  finding_specialist: 'finding_specialist',\n  specialist: 'finding_specialist',\n  'booking service': 'booking_service',\n  booking_service: 'booking_service',\n  booking: 'booking_service',\n  'learning how to do something': 'learning_how_to_do',\n  'learning how to do': 'learning_how_to_do',\n  learning_how_to_do: 'learning_how_to_do',\n  learning: 'learning_how_to_do',\n  'buying product': 'buying_product',\n  buying_product: 'buying_product',\n  buying: 'buying_product',\n};\nconst rawIntent = String(parsed.search_intent ?? '').trim().toLowerCase();\nparsed.search_intent = aliases[rawIntent] ?? rawIntent.replace(/[\\s-]+/g, '_');\nconst allowed = ['problem_diagnosis', 'finding_specialist', 'booking_service', 'learning_how_to_do', 'buying_product'];\nif (!allowed.includes(parsed.search_intent)) fail('search_intent must be one of: ' + allowed.join(', '));\n\nif (typeof parsed.intent_description !== 'string' || !parsed.intent_description.trim()) {\n  parsed.intent_description = 'Dominant market search intent for the original user idea.';\n}\nif (typeof parsed.search_persona !== 'string' || !parsed.search_persona.trim()) {\n  parsed.search_persona = 'A real buyer or user searching for help with the problem.';\n}\nfor (const field of ['must_include', 'must_exclude']) {\n  if (!Array.isArray(parsed[field])) parsed[field] = [];\n  parsed[field] = parsed[field].map((value) => String(value).trim()).filter(Boolean).slice(0, 8);\n}\n\nconst idea = String($('Normalize Input').first().json.input.idea ?? '').toLowerCase();\nconst repairSignals = ['ремонт', 'прораб', 'renov', 'repair', 'handwerker', 'сан', 'электрик', 'стро', 'bau', 'wohnung', 'specialist'];\nif (repairSignals.some((signal) => idea.includes(signal)) && parsed.search_intent === 'booking_service') {\n  parsed.search_intent = 'problem_diagnosis';\n  parsed.intent_description = 'User needs to understand the repair or renovation problem and which specialist or first step is needed.';\n  parsed.must_exclude = [...new Set([...parsed.must_exclude, 'booking appointments', 'consultation booking'])];\n}\n\nconst base = $('Idea Framing').first().json;\nreturn [{ json: { ...base, search_intent: parsed } }];"
      },
      "id": "intent-validate-0001-4000-8000-000000000004",
      "name": "Validate Search Intent JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1140,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/keywords_data/google_ads/search_volume/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ [{ keywords: $json.seo_context.keywords ?? $json.seo_keywords.keywords, location_name: $json.input.region, language_code: $json.input.seo_language }] }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "a1b2c3d4-e5f6-4789-8abc-1234567890ab",
      "name": "DataForSEO CPC Competition",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        -260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/serp/google/organic/live/advanced",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ [{ keyword: $json.seo_context.top_keywords?.[0]?.keyword || $json.seo_context.keywords?.[0] || $json.seo_keywords?.keywords?.[0], location_name: $json.input.region, language_code: $json.input.seo_language, depth: 10 }] }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "b2c3d4e5-f6a7-4890-9bcd-2345678901bc",
      "name": "DataForSEO SERP Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -260
      ]
    },
    {
      "parameters": {
        "jsCode": "const previous = $('Normalize SEO Context').first().json;\nconst cpcResponse = $('DataForSEO CPC Competition').first().json;\nconst serpResponse = $input.first().json;\n\nfunction finiteNumber(value) {\n  const number = Number(value);\n  return Number.isFinite(number) ? number : null;\n}\n\nfunction round(value, digits = 2) {\n  if (!Number.isFinite(value)) return null;\n  const factor = 10 ** digits;\n  return Math.round(value * factor) / factor;\n}\n\nfunction parseDomain(value) {\n  if (typeof value !== 'string' || !value.trim()) return '';\n  try {\n    return new URL(value).hostname.replace(/^www\\./, '').toLowerCase();\n  } catch {\n    return value.replace(/^https?:\\/\\//i, '').split('/')[0].replace(/^www\\./, '').toLowerCase();\n  }\n}\n\nfunction extractDomain(item) {\n  return parseDomain(item?.domain) || parseDomain(item?.url) || parseDomain(item?.breadcrumb);\n}\n\nfunction extractText(item) {\n  return [item?.title, item?.description, item?.pre_snippet, item?.url, item?.domain]\n    .filter((value) => typeof value === 'string' && value.trim())\n    .join(' ')\n    .toLowerCase();\n}\n\nfunction classifyPage(item) {\n  const domain = extractDomain(item);\n  const text = extractText(item);\n  const combined = domain + ' ' + text;\n\n  if (/(reddit\\.com|quora\\.com|stackexchange\\.com|forum|community|gutefrage|discuss)/.test(combined)) return 'forum';\n  if (/(yelp\\.|thumbtack\\.|angi\\.|houzz\\.|checkatrade\\.|myhammer\\.|trustpilot\\.|tripadvisor\\.|yellowpages\\.|capterra\\.|g2\\.|booking\\.|airbnb\\.|amazon\\.|etsy\\.|ebay\\.)/.test(domain)) return 'marketplace';\n  if (/(directory|marketplace|listing|compare|comparison|reviews|best|top\\s*\\d|anbieter|vergleich|preise\\s+vergleichen|rankings)/.test(combined)) return 'aggregator';\n  if (/(blog|guide|tips|article|news|academy|learn|wiki|magazin|magazine|insights|resources|how\\s+to|was\\s+ist|what\\s+is|why)/.test(combined)) return 'blog';\n  if (/(service|services|repair|plumber|electrician|agency|consulting|beratung|installateur|handwerker|contact|quote|pricing|book|appointment|termin|buchen)/.test(combined)) return 'service';\n  return 'brand';\n}\n\nfunction marketTypeFromKeywords(keywords, searchIntent) {\n  const joined = keywords.join(' ').toLowerCase();\n  const transactionalPatterns = [\n    /\\bbuy\\b/, /\\bhire\\b/, /\\bservice\\b/, /near\\s+me/, /\\bbook\\b/, /\\bbooking\\b/, /\\bprice\\b/, /\\bquote\\b/, /\\bfind\\b/, /\\bfinder\\b/, /\\bagency\\b/, /\\bappointment\\b/, /\\bconsultation\\b/,\n    /\\bkaufen\\b/, /\\bservice\\b/, /\\btermin\\b/, /\\bbuchen\\b/, /\\bfinden\\b/, /\\bhandwerker\\b/, /\\binstallateur\\b/, /\\belektriker\\b/,\n    /\\bacheter\\b/, /\\bservice\\b/, /près\\s+de\\s+moi/, /\\bréserver\\b/, /\\bdevis\\b/\n  ];\n  const informationalPatterns = [\n    /\\bhow\\b/, /\\bwhat\\b/, /\\bwhy\\b/, /\\bwhen\\b/, /\\bwhich\\b/, /\\bguide\\b/, /\\btips\\b/,\n    /\\bwie\\b/, /\\bwas\\b/, /\\bwarum\\b/, /\\bwann\\b/, /\\bwelche[nrsm]?\\b/, /\\breihenfolge\\b/, /\\bzuerst\\b/,\n    /\\bcomment\\b/, /\\bquoi\\b/, /\\bpourquoi\\b/, /\\bquand\\b/, /\\bquel(?:le)?\\b/\n  ];\n\n  let transactionalHits = transactionalPatterns.reduce((sum, pattern) => sum + (pattern.test(joined) ? 1 : 0), 0);\n  let informationalHits = informationalPatterns.reduce((sum, pattern) => sum + (pattern.test(joined) ? 1 : 0), 0);\n\n  if (['buying_product', 'booking_service', 'finding_specialist'].includes(searchIntent)) transactionalHits += 2;\n  if (searchIntent === 'learning_how_to_do') informationalHits += 2;\n  if (searchIntent === 'problem_diagnosis') informationalHits += 1;\n\n  if (transactionalHits > 0 && informationalHits === 0) return 'transactional';\n  if (informationalHits > 0 && transactionalHits === 0) return 'informational';\n  if (transactionalHits > informationalHits && ['buying_product', 'booking_service', 'finding_specialist'].includes(searchIntent)) return 'transactional';\n  if (informationalHits > transactionalHits && searchIntent === 'learning_how_to_do') return 'informational';\n  return 'mixed';\n}\n\nfunction audienceProfile(keywords, idea, marketType) {\n  const joined = keywords.join(' ') + ' ' + String(idea ?? '');\n  const normalized = joined.toLowerCase();\n  if (/(emergency|urgent|sofort|notfall|leak|water\\s+damage|burst|stromausfall|rohrbruch)/.test(normalized)) {\n    return 'Urgent buyers trying to solve a time-sensitive problem quickly';\n  }\n  if (/(diy|selber|selbst|anleitung|tutorial|how\\s+to|guide)/.test(normalized) && marketType !== 'transactional') {\n    return 'Low-budget users researching how to handle the problem themselves before paying';\n  }\n  if (/(renov|repair|wohnung|haus|home|apartment|wall|electric|plumb|handwerker|sanier|artisan|travaux|maison)/.test(normalized)) {\n    return 'Homeowners dealing with renovation or repair decisions';\n  }\n  if (/(book|booking|appointment|consult|beratung|termin|buchung|reserve|consultation|rendez)/.test(normalized)) {\n    return 'Service buyers comparing options and getting ready to book';\n  }\n  if (/(saas|pricing|crm|lead|revops|b2b|software)/.test(normalized)) {\n    return 'Commercial buyers comparing tools with active budget intent';\n  }\n  if (marketType === 'transactional') return 'Users with active purchase intent who are comparing providers or solutions';\n  if (marketType === 'informational') return 'Users researching the problem and clarifying what to do next';\n  return 'Users moving from early research into provider or solution comparison';\n}\n\nconst keywords = Array.isArray(previous?.seo_context?.keywords)\n  ? previous.seo_context.keywords.map((keyword) => String(keyword).trim()).filter(Boolean)\n  : [];\nconst searchIntent = String(previous?.seo_context?.search_intent?.search_intent ?? previous?.seo_context?.search_intent ?? 'unknown');\n\nconst cpcRows = [];\nfor (const task of cpcResponse?.tasks ?? []) {\n  for (const item of task?.result ?? []) {\n    if (!item || typeof item !== 'object') continue;\n    cpcRows.push({\n      keyword: String(item.keyword ?? '').trim(),\n      cpc: finiteNumber(item.cpc),\n      competition: item.competition ?? null,\n      competition_index: finiteNumber(item.competition_index),\n    });\n  }\n}\nconst cpcValues = cpcRows.map((item) => item.cpc).filter((value) => Number.isFinite(value));\nconst competitionValues = cpcRows.map((item) => item.competition_index).filter((value) => Number.isFinite(value));\n\nconst serpItems = [];\nfor (const task of serpResponse?.tasks ?? []) {\n  for (const result of task?.result ?? []) {\n    for (const item of result?.items ?? []) {\n      if (item && typeof item === 'object') serpItems.push(item);\n    }\n  }\n}\n\nconst adsPresence = serpItems.some((item) => {\n  const type = String(item?.type ?? '').toLowerCase();\n  return type.includes('paid') || type.includes('shopping') || type === 'ad' || item?.is_paid === true;\n});\n\nconst organicSerp = serpItems.filter((item) => {\n  const type = String(item?.type ?? '').toLowerCase();\n  return !type.includes('paid') && !type.includes('shopping') && type !== 'ad';\n}).slice(0, 10);\n\nif (!keywords.length || cpcValues.length === 0 || organicSerp.length === 0) {\n  return [{\n    json: {\n      ...previous,\n      dataforseo_google_ads_raw: cpcResponse,\n      dataforseo_serp_raw: serpResponse,\n      market_insights: {\n        status: 'insufficient_data',\n      },\n    },\n  }];\n}\n\nconst avgCpc = round(cpcValues.reduce((sum, value) => sum + value, 0) / cpcValues.length, 2);\nconst avgCompetitionIndex = competitionValues.length\n  ? round(competitionValues.reduce((sum, value) => sum + value, 0) / competitionValues.length, 0)\n  : finiteNumber(previous?.seo_context?.average_competition_index);\nconst classifiedSerp = organicSerp.map((item) => ({\n  domain: extractDomain(item),\n  type: classifyPage(item),\n})).filter((item) => item.domain);\nconst uniqueDomains = [...new Set(classifiedSerp.map((item) => item.domain))].slice(0, 10);\nconst typeCounts = classifiedSerp.reduce((acc, item) => {\n  acc[item.type] = (acc[item.type] ?? 0) + 1;\n  return acc;\n}, {});\nconst strongDomains = ['amazon', 'etsy', 'ebay', 'booking', 'airbnb', 'tripadvisor', 'checkatrade', 'thumbtack', 'angi', 'houzz', 'myhammer', 'yelp', 'capterra', 'g2'];\nconst strongHits = classifiedSerp.filter((item) => strongDomains.some((domain) => item.domain.includes(domain)) || item.type === 'marketplace' || item.type === 'aggregator').length;\nconst forumHits = typeCounts.forum ?? 0;\nconst blogHits = typeCounts.blog ?? 0;\nconst serviceHits = typeCounts.service ?? 0;\nconst lowQualityHits = classifiedSerp.filter((item) => /(blogspot|wordpress|wixsite|tumblr|freeforums)/.test(item.domain)).length;\n\nlet serpStrength = 'medium';\nif (strongHits >= 5 || (typeCounts.marketplace ?? 0) + (typeCounts.aggregator ?? 0) >= 4) {\n  serpStrength = 'strong';\n} else if (forumHits >= 3 || lowQualityHits >= 3) {\n  serpStrength = 'weak';\n} else if (blogHits >= 2 && serviceHits >= 2) {\n  serpStrength = 'medium';\n}\n\nconst marketType = marketTypeFromKeywords(keywords, searchIntent);\nconst incomeProxy = avgCpc < 1 ? 'low' : avgCpc < 3 ? 'medium' : avgCpc < 10 ? 'medium-high' : 'high';\nconst conversionRate = marketType === 'transactional' ? 0.075 : marketType === 'informational' ? 0.02 : 0.045;\nconst estimatedCpl = round(avgCpc / conversionRate, 0);\n\nlet competitionScore = 0;\nif (avgCpc >= 10) competitionScore += 3;\nelse if (avgCpc >= 3) competitionScore += 2;\nelse if (avgCpc >= 1) competitionScore += 1;\nif (Number.isFinite(avgCompetitionIndex)) {\n  if (avgCompetitionIndex >= 65) competitionScore += 3;\n  else if (avgCompetitionIndex >= 35) competitionScore += 2;\n  else if (avgCompetitionIndex >= 15) competitionScore += 1;\n}\nif (serpStrength === 'strong') competitionScore += 2;\nelse if (serpStrength === 'medium') competitionScore += 1;\nif (adsPresence) competitionScore += 1;\nconst competitionLevel = competitionScore >= 6 ? 'high' : competitionScore >= 3 ? 'medium' : 'low';\n\nconst market_insights = {\n  status: 'ok',\n  audience_profile: audienceProfile(keywords, previous?.input?.idea, marketType),\n  market_type: marketType,\n  income_proxy: incomeProxy,\n  avg_cpc: avgCpc,\n  estimated_conversion_rate: conversionRate,\n  estimated_cpl: estimatedCpl,\n  competition_level: competitionLevel,\n  serp_strength: serpStrength,\n  ads_presence: adsPresence,\n  top_domains: uniqueDomains,\n};\n\nreturn [{\n  json: {\n    ...previous,\n    dataforseo_google_ads_raw: cpcResponse,\n    dataforseo_serp_raw: serpResponse,\n    market_insights,\n  },\n}];"
      },
      "id": "c3d4e5f6-a7b8-4901-acde-3456789012cd",
      "name": "Normalize Market Insights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        -260
      ]
    },
    {
      "parameters": {
        "jsCode": "const previous = $input.first().json;\nconst market = previous?.market_insights ?? {};\n\nfunction round(value, digits = 2) {\n  if (!Number.isFinite(value)) return null;\n  const factor = 10 ** digits;\n  return Math.round(value * factor) / factor;\n}\n\nif (market.status !== 'ok' || !Number.isFinite(Number(market.estimated_cpl))) {\n  return [{\n    json: {\n      ...previous,\n      roi_estimate: {\n        status: 'insufficient_data',\n      },\n    },\n  }];\n}\n\nconst estimatedCpl = Number(market.estimated_cpl);\nconst marketType = String(market.market_type ?? 'unknown');\nconst leadValueByType = {\n  informational: 40,\n  mixed: 80,\n  transactional: 120,\n};\nconst leadValueEstimate = leadValueByType[marketType] ?? 60;\nconst roiRatio = round(leadValueEstimate / estimatedCpl, 2);\n\nlet roiScore = 1;\nif (roiRatio >= 3) roiScore = 5;\nelse if (roiRatio >= 2) roiScore = 4;\nelse if (roiRatio >= 1.2) roiScore = 3;\nelse if (roiRatio >= 0.8) roiScore = 2;\n\nconst verdict = roiScore >= 4 ? 'promising' : roiScore >= 3 ? 'borderline' : 'weak';\n\nreturn [{\n  json: {\n    ...previous,\n    roi_estimate: {\n      status: 'ok',\n      lead_value_estimate: leadValueEstimate,\n      estimated_cpl: estimatedCpl,\n      roi_ratio: roiRatio,\n      roi_score: roiScore,\n      verdict,\n    },\n  },\n}];"
      },
      "id": "d4e5f6a7-b8c9-4012-abcd-4567890123de",
      "name": "Compute ROI Estimate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const previous = $input.first().json;\nconst input = previous?.input ?? {};\nconst product = previous?.product ?? {};\n\nconst region = String(input.region ?? '').toLowerCase();\nconst ideaText = String(input.idea ?? '').toLowerCase();\nconst category = String(product?.product_summary?.category ?? '').toLowerCase();\nconst combined = ideaText + ' ' + category;\n\nconst gdprRegions = ['austria', 'germany', 'france', 'italy', 'spain', 'portugal', 'netherlands', 'belgium', 'poland', 'sweden', 'norway', 'denmark', 'finland', 'ireland', 'eu', 'european union'];\nlet applicableRegimes = [];\nif (gdprRegions.some((name) => region.includes(name))) applicableRegimes.push('GDPR');\nif (region.includes('uk') || region.includes('united kingdom') || region.includes('britain')) applicableRegimes.push('UK GDPR');\nif (region.includes('switzerland')) applicableRegimes.push('FADP');\napplicableRegimes = [...new Set(applicableRegimes)];\n\nconst handlesPersonalData = /(software|marketplace|local service|booking|telegram|bot|webapp|consult|beratung|appointment|customer|user)/.test(combined) || applicableRegimes.length > 0;\nconst usesThirdParties = /(ai|telegram|bot|marketplace|software|webapp|platform|payment|stripe|paypal)/.test(combined);\nconst hasPayments = /(payment|pay|billing|checkout|stripe|paypal|оплат|платеж)/.test(combined);\nconst hasSensitiveSignals = /(medical|health|therapy|patient|child|children|kid|kids|school)/.test(combined);\n\nconst requiredActions = [];\nif (applicableRegimes.length > 0 || handlesPersonalData) {\n  requiredActions.push('privacy policy');\n  requiredActions.push('data flow mapping');\n}\nif (usesThirdParties) {\n  requiredActions.push('vendor review');\n  requiredActions.push('processor contracts');\n}\nif (hasPayments) requiredActions.push('payment flow review');\nrequiredActions.splice(0, requiredActions.length, ...new Set(requiredActions));\n\nconst riskFlags = [];\nif (handlesPersonalData) riskFlags.push('personal_data_processing');\nif (usesThirdParties) riskFlags.push('third_party_processors');\nif (hasPayments) riskFlags.push('payment_data_flow');\nif (hasSensitiveSignals) riskFlags.push('sensitive_data_risk');\n\nlet launchStatus = 'clear';\nif (hasSensitiveSignals && applicableRegimes.length > 0) launchStatus = 'high_risk';\nelse if (applicableRegimes.length > 0 || riskFlags.length > 0) launchStatus = 'caution';\n\nreturn [{\n  json: {\n    ...previous,\n    privacy_context: {\n      status: applicableRegimes.length > 0 || riskFlags.length > 0 ? 'ok' : 'limited_signal',\n      applicable_regimes: applicableRegimes,\n      launch_status: launchStatus,\n      required_actions: requiredActions,\n      risk_flags: riskFlags,\n      assessment_note: 'Heuristic only. Not legal advice.',\n    },\n  },\n}];"
      },
      "id": "e5f6a7b8-c9d0-4123-bcde-5678901234ef",
      "name": "Compute Privacy Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Classify Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Provider Switch 1": {
      "main": [
        [
          {
            "node": "LLM Step 1 - Claude Packaging",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Step 1 - Ollama Packaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Step 1 - Claude Packaging": {
      "main": [
        [
          {
            "node": "Validate Packaging JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Step 1 - Ollama Packaging": {
      "main": [
        [
          {
            "node": "Validate Packaging JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Packaging JSON": {
      "main": [
        [
          {
            "node": "Provider Switch 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Provider Switch 2": {
      "main": [
        [
          {
            "node": "LLM Step 2 - Claude Product ICP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Step 2 - Ollama Product ICP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Step 2 - Claude Product ICP": {
      "main": [
        [
          {
            "node": "Validate Product JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Step 2 - Ollama Product ICP": {
      "main": [
        [
          {
            "node": "Validate Product JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Product JSON": {
      "main": [
        [
          {
            "node": "Compute ROI Estimate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Provider Switch 3": {
      "main": [
        [
          {
            "node": "LLM Step 3 - Claude Validation Decision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Step 3 - Ollama Validation Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Step 3 - Claude Validation Decision": {
      "main": [
        [
          {
            "node": "Validate Final Decision JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Step 3 - Ollama Validation Decision": {
      "main": [
        [
          {
            "node": "Validate Final Decision JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Final Decision JSON": {
      "main": [
        [
          {
            "node": "Assemble Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Final Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idea Framing": {
      "main": [
        [
          {
            "node": "Provider Switch Search Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Idea": {
      "main": [
        [
          {
            "node": "Idea Framing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Provider Switch SEO": {
      "main": [
        [
          {
            "node": "LLM SEO Keywords - Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM SEO Keywords - Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM SEO Keywords - Claude": {
      "main": [
        [
          {
            "node": "Validate SEO Keywords JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM SEO Keywords - Ollama": {
      "main": [
        [
          {
            "node": "Validate SEO Keywords JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate SEO Keywords JSON": {
      "main": [
        [
          {
            "node": "DataForSEO Search Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataForSEO Search Volume": {
      "main": [
        [
          {
            "node": "Normalize SEO Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize SEO Context": {
      "main": [
        [
          {
            "node": "DataForSEO CPC Competition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Provider Switch Search Intent": {
      "main": [
        [
          {
            "node": "LLM Search Intent - Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Search Intent - Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Search Intent - Claude": {
      "main": [
        [
          {
            "node": "Validate Search Intent JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Search Intent - Ollama": {
      "main": [
        [
          {
            "node": "Validate Search Intent JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Search Intent JSON": {
      "main": [
        [
          {
            "node": "Provider Switch SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataForSEO CPC Competition": {
      "main": [
        [
          {
            "node": "DataForSEO SERP Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataForSEO SERP Analysis": {
      "main": [
        [
          {
            "node": "Normalize Market Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Market Insights": {
      "main": [
        [
          {
            "node": "Provider Switch 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute ROI Estimate": {
      "main": [
        [
          {
            "node": "Compute Privacy Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Privacy Context": {
      "main": [
        [
          {
            "node": "Provider Switch 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a5b6c7d8-e9f0-4123-b4c5-d6e7f8a9b0c1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
